<section class="my-5 user_posts container">

  <a class="btn btn-dark clear-end mx-3 my-2 d-block" href="/admin/add-post"><i class="fa fa-plus"></i> Add Post</a>

  <% myPosts.forEach((post)=> {
    %>
    <div class="article-card">
      <div class="card-body p-1 col-7 col-md-9">
        <a href="/article/<%=post._id%>" class="card-title">
          <%= post.title%>
        </a>
        <p class="card-age">
          Last updated on <%= post.updatedAt.toDateString()%>
        </p>
      </div>
      <div class="options d-flex">
        <a href="/admin/edit-post/<%= post._id%>" class="btn btn-dark">
          <i class="fa fa-pencil me-2"></i>
          <span class="d-none d-md-inline">Edit</span>
        </a>

        <form action="/admin/delete-post/<%= post._id%>" class="d-inline" method="get">
          <button type="submit" class="btn btn-danger">
            <i class="fa fa-trash "></i>
            <span class="d-none d-md-inline ms-1">Delete</span>
          </button>
        </form>

      </div>
    </div>
    <%
  })%>
</section>
