<div class="table-responsive">
  <table class="table text-nowrap table-striped table-bordered">
    <thead>
      <tr>
        <th>OrderID</th>
        <th>Customer Name</th>
        <th>Total Cost</th>
        <th>Items Quantity</th>
        <th>Payment Status</th>
        <th>Delivery Status</th>
        <th>Order Date</th>
      </tr>
    </thead>
    <tbody>
      <% allOrders.forEach(order=>{ %>
        <tr>
          <td><a href="/admin/orders/<%= order._id %>"><%= order._id %></a></td>
          <td><%= order.customerId.username %></td>
          <td><%= order.totalCost.toLocaleString() %></td>
          <td><%= order.items.length %></td>
          <td><%= order.paymentStatus %></td>
          <td><%= order.deliveryStatus %></td>
          <td><%= order.updatedAt.toLocaleDateString() %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
