<div class="heading my-5">
  <h3 class="text-heading">Customer Name: <%= currentOrder.customerId.businessName %></h3>
  <p class="fs-5">Total Cost: <%= "₦" + currentOrder.totalCost.toLocaleString() %></p>
  <p class="text-muted my-0 p-0">Order ID: <%= currentOrder._id %></p>
</div>
<div class="table-responsive">
  <table class="table text-nowrap table-striped table-bordered">
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
        <th>Vendor Name</th>
        <th>Price</th>
        <th>BroughtIn Status</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% currentOrder.items.forEach(item=>{ %>
      <tr>
        <td><a href="/admin/products/<%= item.productId._id %>"><%= item.productId._id %></a></td>
        <td><%= item.productId.name %></td>
        <td><%= item.vendorId ? item.vendorId.businessName : "ThisIsSaad"%></td>
        <td><%= item.price %></td>
        <td><%= item.broughtIn %></td>
        <td><a href="/admin/orders/<%= currentOrder._id %>/<%= item.productId %>"><%= item.productId.name %></a></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>
