<!DOCTYPE html>
<html>
    <head>
        <title><%= locals.title %></title>
        <meta property="og:title" content="<%= locals.title%>" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content="<%= locals.description%>" />
        <meta property="og:description" content="<%= locals.description%>" />
        <meta property="og:image" content="<%= locals.imageUrl%>" />
        <meta charset="utf-8" />
        <meta name="author" content="simplysaad" />
        <link rel="stylesheet" href="/CSS/style.css" />
        <link rel="icon" href="/IMG/favicon.png" type="image/x-icon">        
        <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
        />
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css"
        />
    </head>
    <body>
    <%#- include("../partials/_header")%>
    <%#- include("../partials/_search")%>
    
    <main>
      <a href="/" class="m-1 p-3 text-decoration-none fa-2x text-secondary float-left fa fa-home"></a>
      <%- body %>
    </main>
    
    
    <%#- include("../partials/_footer")%>
        <!-- <script src="/JS/login.js"></script> -->        
        <!-- <script src="/JS/register.js"></script> -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.js"></script>
    </body>
</html>
