<section class="article-container container my-5">

<div class="cover-image mb-3">
  <img src="<%= article.imageUrl%>" class="img-fluid" alt="<%= article.imageUrl%>">
</div>
  
  <h2 class="display-4 article-title">
    <%= article.title%>
  </h2>
  <div class="fw-6 my-3">
    <img src="<%= article.imageUrl%>" class="img-profile" alt="">
    <a href="#" class="card-author"><%= article.author%></a>
    <span class="separator d-inline"></span>
    <span class="card-age"><%= readTime(article.content) %></span>
  </div>
  <div class="fw-6 main text mb-4">
    <%- article.content%>
  </div>
        
  <div class="other-articles overflow-x-scroll mt-5 ">

<h3 class="display-5 my-4">
  Related Posts
</h3>
    
    <% relatedPosts.forEach((post)=>{ %>
    
    <div class="article-card">
    <div class="card-image col-5 col-md-4">
      <img src="<%= post.imageUrl %>" alt="<%= post.title%>" class="img-fluid img-post" alt="image">
    </div>
    <div class="card-body p-1 col-7 col-md-9">
      <a href="/category/<%= post.category %>" class="text-warning text-uppercase card-category p-0"><%= post.category%> </a>
      <a href="/article/<%= post._id%>" class="card-title">
        <%=post.title%>
      </a>
      <p class="card-description d-none d-md-block"><%= post.content.split(' ').slice(0, 20).join(' ')%> </p>
      <div class="">
        <img src="<%= post.imageUrl %>" alt="<%= post.imageUrl %>" class="img-profile">
        <a href="/author/<%= post.author %>" class="card-author">
          <%= post.author %>
        </a>
        <span class="separator d-inline"></span>
        <span class="card-age">
          <%= readTime(post.content)%>
        </span>
      </div>
    </div>
  </div>
<% })%>
  </div>       
</section>
