<section>
  <h1 class="display-2 container p-3">Hello!</h1>
  <div class="container">
    <div class="cart-group my-5">
      <h3 class="fs-3 cart-title">Your cart</h3>

      <% cartItems.forEach((item)=> { %>
        <form action="/remove" class="cart-box">
          <div class="cart-item">
            <span class="quantity">x<%= item.quantity %></span>
            <span class="name"><%= item.name %></span>
            <span class="price">₦<%= item.price %></span>
            <a href="/remove-item/<%=item._id %>?color=<%= item.color || "null" %>&size=<%= item.size || "null" %>" id="btnRemove" class="btn-remove">
              <span class="fa fa-times"></span>
            </a>
          </div>
          <div class="cart-spec text-end">
            <span class="color mx-1"><%= item.color %></span>
            <span class="size mx-1"><%= item.size %></span>
          </div>
        </form>
        <% }) %>

      <div class="cart-total mt-5">
        <h5 class="float-start display-6 text-danger">Total</h5>
        <p class="amount fs-5">
          ₦ <%= CART_TOTAL %>
        </p>
      </div>
    </div>
    <div class="checkout">
      <input
      class="d-inline form-check"
      type="checkbox"
      name="checkoutAgreement"
      id="checkoutAgreement"
      />
    <label class="d-inline" for="checkoutAgreement"
      >By clicking submit, I agree to the
      <a href="">Terms and conditions</a> and
      <a href="">Privacy policy</a>
    </label>
    <button
      class="d-block my-5 col-12 btn-lg btn-checkout btn-outline-danger"
      >
      Checkout
    </button>
  </div>
</div>
</section>