  <h1 class="display-4 text-center mb-4">Your Shopping Cart</h1>
  
  <% if (!isCartEmpty) { %>
    <form action="/order/place" method="post" id="placeOrderForm" class="mb-5">
      <div class="cart-group">
        <h3 class="fs-3 cart-title mb-4"><%= cartItems.length + " " %> Items in Your Cart</h3>
        
        <% cartItems.forEach((item) => { %>
      <div class="cart-box mb-4 p-3 border rounded shadow-sm">
        <div class="cart-item">
          <div class="main-info d-flex flex-nowrap justify-content-between align-items-center">
            <span class="quantity me-">x<%= item.quantity %></span>
            <a href="/preview/<%= item._id %>" class="text-dark text-decoration-none name"><%= item.name %></a>
            <span class="price ms-">₦<%= item.price.toLocaleString() %></span>
          </div>
        
        <div class="extra-info d-flex my-3 border p-2 justify-content-between align-items-center">
          <div class="cart-spec text-start mt-2">
            <span class="color mx-1">Color: <%= item.color %></span>
            <span class="size mx-1">Size: <%= item.size %></span>
          </div>
          <div class="btn-group btn-group-sm">
            <a class="btn btn-outline-danger" href="/cart/<%= item._id %>/remove?color=<%= item.color || 'default' %>&size=<%= item.size || 'default' %>">
              <span class="fa fa-minus"></span>
              <span class="d-none d-lg-inline">Remove</span>
            </a>
            <input id="inputQuantity" data-product-id="<%= item._id %>" type="number" class="input-quantity border btn mx-1" value="<%= item.quantity %>" style="width: 40px;">
            <a class="btn btn-outline-success" href="/cart/<%= item._id %>/add?color=<%= item.color %>&size=<%= item.size %>">
              <span class="fa fa-plus"></span>
              <span class="d-none d-lg-inline">Add</span>
            </a>
          </div>
        </div>
        </div>
        
      </div>
        <% }) %>
        
        <div class="cart-total mt-4 d-flex justify-content-between align-items-center">
          <h5 class="display-6 text-danger">Total</h5>
          <p class="amount fs-4">₦ <%= CART_TOTAL.toLocaleString() %></p>
        </div>
      </div>

      <div class="checkout mt-5">
        <div class="form-check mb-3">
          <input class="form-check-input" type="checkbox" name="checkoutAgreement" id="checkoutAgreement" />
          <label class="form-check-label" for="checkoutAgreement">
            By clicking submit, I agree to the <a href="#">Terms and Conditions</a> and <a href="#">Privacy Policy</a>.
          </label>
        </div>
        <button id="btnPlaceOrder" class="btn btn-lg btn-danger w-100">Checkout</button>
      </div>
    </form>
  <% } else { %>
    <div class="empty-cart-container text-center py-5">
      <img src="/IMG/empty-cart.png" alt="Empty Cart" class="empty-cart-image mb-4" style="max-width: 200px;">
      <p class="fs-4 mb-4">Your cart is currently empty!</p>
      <a href="/" class="btn btn-outline-primary">Continue Shopping</a>
    </div>
  <% } %>
  
  
  <script>
    
    const inputQuantityElements = document.querySelectorAll(".input-quantity")
inputQuantityElements.forEach(inputElement => {
  inputElement.addEventListener("change", async (e) => {
    const productId = inputElement.dataset.productId;
    let url = `/cart/${productId}/add?quantity=${inputElement.value}&color=default&size=default`
    try {
      console.log("Updating Cart quantity...")
      let response = await fetch(url, {
        method: "GET",
        headers: {
          "Content-Type": "application/json"
        }
      })

      if (!response.ok) {
        throw new Error(`HTTP error: status ${response.status}`)
      }
      else {
        console.log("Cart quantity.updated successfully")
        window.history.go(0)  
       // window.location.reload()  
        }
    }
    catch (err) {
      console.error(err)
    }
  })
})

    
    

  </script>
