<section class="container">
<h2 class="text-center fw-bold my-3 py-3 text-secondary-emphasis display-3 border-1 border-top border-bottom">
  <%= categoryName %>
</h2>

<% categoryPosts.forEach((post)=>
  {
    %>
    <div class="article-card">
      <div class="card-image col-5 col-md-4">
        <img src="<%= post.imageUrl%>" class="img-fluid img-post" alt="<%= post.title%>">
      </div>
      <div class="card-body p-1 col-7 col-md-9">
        <a href="/article/<%= post._id%>" class="card-title">
          <%= post.title%>
        </a>
        <p class="card-description d-none d-md-block">
          <%= post.content.split(' ').splice(1, 20).join(' ') + "..." %>
        </p>
        <div class="">
          <img src="<%= post.imageUrl%>" class="img-profile">
          <a href="/author/<%= post.author.split(" ").join("-")%>" class="card-author"><%= post.author%></a>
          <span class="separator d-inline"></span>
          <span class="card-age"><%= post.createdAt.toLocaleString() %></span>
        </div>
      </div>
    </div>
    <%
  })%>
</section>
