<section id="productDisplay" class="container my-4 product-display">

    <div class=" mt-3">
      <div class="category-heading d-flex flex-wrap align-items-center justify-content-between">
        <h3 class="category-title display-5"><%= categoryName %></h3>
      </div>
      <div class="category-body flex-wrap pt-2">
        <% categoryItems.forEach((product)=> {%>
        <div class="col-6 col-md-4 col-lg-3 p-0 m-2  product-card rounded">
          <div class="card-image m-0 p-3">
            <img src="<%= product.productImage %>" alt="<%= product.name %>" class="random-colo overflow-hidden img-fluid" />
          </div>
          <div class="card-body p-0 m-2">
            <a href="/preview/<%=product._id %>" class="text-dark fs-6 card-title">
              <%=product.name %>
            </a>
          <div class="product-price">
            <% if(product.discount){%>
            <p class="card-price my-0 fs-5">
              ₦<%=  (product.price - (product.discount/100) * product.price).toLocaleString() %>
            </p>
            <p class="old-price my-0 fs-6 text-danger">
              ₦<%= product.price.toLocaleString() %>
            </p>
            <% }else{ %>
            <p class="card-price my-0 fs-5">
              ₦<%= product.price.toLocaleString() %>
            </p>
            <% }%>
          </div>

          </div>
        </div>
          <%
        }) %>
    </div>
  </div>
</section>

