
    <section class="carousel " data-bs-ride="carousel">
      <div class="carousel-inner">
        <% for (let i = 0; i < ads.length; i++) { %>
          <div class="carousel-item bg-secondary mx-auto
          <%= i === 0 ? 'active bg-success' : '' %>
          <%= i === 1 ? ' bg-danger' : '' %>
          <%= i === 2 ? ' bg-warning' : '' %>
          ">
            <img src="<%= ads[i].imageUrl %>" alt="<%= ads[i].title %>" class="img-fluid">
          </div>
        <% } %>
      </div>
    </section>

    <section id="productDisplay" class="container my-4 product-display">
        <% categories.forEach((category)=>{ %>

        <div class="category mt-3">
            <div
                class="category-heading d-flex align-items-center justify-content-between"
            >
                <h3 class="category-title display-5"><%= category %></h3>
                <a
                    href="/category/<%= category %>"
                    class=" fs-6 text-decoration-none"
                    >see all <span class="fa fa-arrow-right"></span
                ></a>
            </div>
            <div class="category-body pt-2">
                <% products.forEach((product)=>{ %>
                  <% if(product.category == category){ %>
                    <div class="col-6 col-md-4 col-lg-3 p-0 mx-2 border product-card rounded">
                    <div class="card-image m-0">
                        <img src="<%= product.productImage || "/Uploads/Products/" + product.productImage %>"  alt="<%- `${product.name}'s image` %>" class="overflow-hidden img-fluid" />
                    </div>
                    <div class="card-body p-0 m-2">
                        <p class="fs-6 card-title"><%= product.name %></p>
                        <div class="">
                            <span class="card-price fs-5"
                                ><%- product.currency == "NGN"? "₦":product.currency  %><%= product.price %></span
                            >
                            <s class="old-price fs-6 text-danger"
                                ><%- product.currency == "NGN"? "₦":product.currency  %><%= product.price %></s
                            >
                        </div>
                        <a
                            href="/preview/<%= product._id %>"
                            class="btn btn-view btn-secondary col-12"
                        >
                            View
                        </a>
                    </div>
                </div>
                  <% } %>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </section>

