   <section class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner bg-secondary">
        <% for (let i = 0; i < ads.length; i++) { %>
          <div class="carousel-item bg-secondary mx-auto
          <%= i === 0 ? 'active bg-success' : '' %>
          <%= i === 1 ? ' bg-danger' : '' %>
          <%= i === 2 ? ' bg-warning' : '' %>
          ">
            <img src="<%= ads[i].imageUrl %>" alt="<%= ads[i].title %>" class="img-fluid">
          </div>
        <% } %>
      </div>
    </section>

    <section id="productDisplay" class="my-4 product-display">
        <% categories.forEach((category)=>{ %>

        <div class="category category-section mt-3">
            <div
                class="category-heading d-flex align-items-center justify-content-between"
            >
                <h3 class="category-title display-5"><%= category %></h3>
                <a
                    href="/category/<%= category %>"
                    class=" fs-6 text-decoration-none"
                    >see all <span class="fa fa-arrow-right"></span
                ></a>
            </div>    
            <div class="d-flex flex- overflow-scroll category-items">

                <% products.forEach((product)=>{ %>
                  <% if(product.category == category){ %>
                  <div class="col-6 col-md-4 col-lg-3 p-0 m-2  product-card rounded">
                    <div class="card-image m-0 p-3">
                      <img src="<%= product.productImage %>" alt="<%= product.name %>" class="random-colo overflow-hidden img-fluid" />
                    </div>
                    <div class="card-body p-0 m-2">
                      <a href="/preview/<%=product._id %>" class="text-dark fs-6 card-title">
                        <%=product.name %>
                      </a>
                    <div class="product-price">
                      <p class="card-price my-0 fs-5">
                        ₦<%= product.price.toLocaleString() %>
                      </p>
                      <% if(product.discount){%>
                      <p class="old-price my-0 fs-6 text-danger">
                        ₦<%=  (product.price - (product.discount/100) * product.price).toLocaleString() %>
                      </p>
                      <% }%>
                    </div>
                    </div>
                  </div>
                  <% } %>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </section>

