
    <section class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <!--this carousel shall contain ads for products and events -->
            <% ads.forEach((ad)=>{ %>
              <div class="carousel-item">
                <img src="<%= ad.imageUrl %>" alt="<% ad.title %>" class="img-fluid">
              </div>
            <% }) %>
            
        </div>
    </section>
    <section id="productDisplay" class="container my-4 product-display">
        <% categories.forEach((category)=>{ %>

        <div class="category mt-3">
            <div
                class="category-heading d-flex align-items-center justify-content-between"
            >
                <h3 class="category-title display-5"><%= category %></h3>
                <a
                    href="/category/<%= category %>"
                    class=" fs-6 text-decoration-none"
                    >see all <span class="fa fa-arrow-right"></span
                ></a>
            </div>
            <div class="category-body pt-2">
                <% products.forEach((product)=>{ %>
                  <% if(product.category == category){ %>
                    <div class="col-6 col-md-4 col-lg-3 p-0 mx-2 border product-card rounded">
                    <div class="card-image m-0">
                        <img src="<%= product.image %>"  alt="<%= product.name %>" class="overflow-hidden img-fluid" />
                    </div>
                    <div class="card-body p-0 m-2">
                        <p class="fs-6 card-title"><%= product.name %></p>
                        <div class="">
                            <span class="card-price fs-5"
                                ><%= product.currency %><%= product.price %></span
                            >
                            <s class="old-price fs-6 text-danger"
                                ><%= product.currency %><%= product.price %></s
                            >
                        </div>
                        <a
                            href="/preview/<%= product._id %>"
                            class="btn btn-view btn-secondary col-12"
                        >
                            View
                        </a>
                    </div>
                </div>
                  <% } %>
                <% }) %>
            </div>
        </div>
        <% }) %>
    </section>

