<section id="carousel" class="carousel" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item"></div>
    <div class="carousel-item active"></div>
    <div class="carousel-item"></div>
  </div>
</section>
<section id="categories" class="g-2 row">
  <%categories.forEach((category)=> {
    %>
    <div id="<%- category %>" class="category">
      <div class="category-heading my-3">
        <h2 class="display-3 d-inline"><%= category %></h2>
        <a class="d-inline " href="/category/<%- category %>">see all<span class="fa fa-caret-right"></span></a>
      </div>
      <div class="category-body">
        <% products.filter((product) => product.category === category).forEach((product)=> {
          %>
          <div class="product-card-small col-6 col-md-3 p-0 border rounded ">
            <div class="card-image">
              <img src="https://source.unsplash.com/random/?<%category%>&<%=product._id%>&" alt="no image">
            </div>
            <div class="card-body p-2">
              <p class="card-title">
                <%= product.name %>
              </p>
              <p class="card-text price text-success">
                <%= product.price %>
              </p>
              <!-- <div class="product-rating " id="starParent">
                            </div> -->
            </div>
            <!-- <div class="col-12 p-2 add-to-cart">
                          <a href="/addCart/<%=product._id%>" class="btn btn-cart btn-outline-success col-12">ADD TO CART</a>
                        </div> -->
          </div>
          <%})%>
          </div>
        </div>
          <%
        }) %>
    </section>
